/* colors */
$text: #2B2B2B;
$heading: #003366;
$border: #2B2B2B;
$blue: #133C71;
$bluetext: #002347;
$otherblue: #003366;
$link: #133B70;
$white: #FFFFFF;
$bgcolor: #F1F2F2;
$orange: #E28100;
$grey: #B1B1B1;
$yellow: #FED000;

/* fonts */
$font__base-size: 16px;
$font__line-height-body: calc( 24px / 16px );